.container{
    background-color: aqua;
    height:1000px
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap:30px

}

.gameButton{
    padding: 50px 100px;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    border-radius: 10%;
    border: 10px black solid ;
  
  }
.Result{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

    padding: 50px 100px;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    border: 10px black solid ;
}

.finalResult{
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;

    padding: 50px 100px;
    font-size: larger;
    font-weight: bold;
    background-color: red;
    border: 10px black solid ;
}
